@using Microsoft.AspNetCore.Html;
@model SporC.Web.Models.ViewModel.BlogPostViewModel

@{
    Layout = "_Layout";
}
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<script src="~/js/site.js"></script>
<body class="theme-color-two">
    <div id="main-wrapper">
        <div class="site-wrapper-reveal">
            <div class="hero-area-two-wrapper">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="container">
                        <div class="hero-area--two-innter text-center">
                            <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Write Post</a>
                        </div>
                    </div>
                }

  
        <div class="container">
        @for (int i = 0; i < Model.posts.Count; i += 3)
        {
            <div class="row mb-4">
                @foreach (var post in Model.posts.Skip(i).Take(3).Where(p => !p.IsDeleted))
                {

                                <div class="card-list">
                                    <article class="card">

                                        <figure class="card-image">
                                            <a href="/post/Postdetail?id=@post.Id" class="most-populer-thum">
                                                <img src="/uploads/@post.Picture.FileName" alt="Post IMG" style="width: 353px;height: 273px;">
                                            </a>
                                        </figure>
                                        <div class="most-populer-content text-center">
                                           
                                            
                                                <div  class="most-populer-post-author">
                                                <a asp-controller="User" asp-action="Profile" asp-route-id="@post.UserId">
                                                    @@@post.PostUserName
                                                </a>
                                                </div>
                                                <p id="title" class="title">
                                                    <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.Id">
                                                        <h3>@Html.Raw(post.Title)</h3>
                                                    </a>
                                                </p>
                                                <p id="content" class="dec mt-2">
                                                    @{
                                                        var content = @Html.Raw(post.Content).ToString();
                                                        var maxLength = 200;

                                                        if (content.Length > maxLength)
                                                        {
                                               
                                                            var truncatedContent = new HtmlString(content.Substring(0, maxLength) + "...");
                                                            @truncatedContent
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(content)
                                                        }
                                                    }
                                                </p>

                                              
                                    
                                          
                                        </div>
                                        <div class="card-footer">
                                           
                                            <div class="card-meta card-meta--date">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Calendar">
                                                    <rect x="2" y="4" width="20" height="18" rx="4" />
                                                    <path d="M8 2v4" />
                                                    <path d="M16 2v4" />
                                                    <path d="M2 10h20" />
                                                </svg>
                                               @post.CreateDate
                                            </div>
                                            @if (post.UserId == ViewBag.CurrentUserId)
                                            {
                                                <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">...</button>
                                                <!-- sample modal content -->
                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="myModalLabel"></h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div>
                                                                    <form asp-controller="Post" asp-action="DeletePost" asp-route-id="@post.Id" method="post" onsubmit="return confirm('Bu gönderiyi silmek istediğinizden emin misiniz?');">
                                                                        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                                                                    </form>
                                                                </div>
                                                                <a asp-action="UpdatePost" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-primary                                 ">Edit</a>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>

                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div>

                                                <!-- /.modal -->
                                            }
                                        </div>
                                    </article>
                                </div>








                   
                }
            </div>
        }
    </div>
    </div>
    </div>
    </div>
</body>
