@model BlogPostViewModel
<form asp-action="Create" method="post" asp-controller="Post" class="form">
    <div class="mb-3">
        <label asp-for="@Model.post.Title" class="form-label">Konu Başlığı</label>
        <input type="text" class="form-control" asp-for="@Model.post.Title" placeholder="Konu başlığı girin" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.post.Content" class="form-label">Gönderi İçeriği</label>
        <textarea class="form-control" asp-for="@Model.post.Content" placeholder="Gönderi oluştur" rows="4"></textarea>
    </div>
   
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Gönderi Oluştur</button>
    </div>
</form>

<style>
    .post-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

        .post-card h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .post-card p {
            font-size: 14px;
        }
</style>

<div class="post-container">
    @foreach (var post in Model.posts.Where(p => !p.IsDeleted)) 
    {
        
        <div class="post-card">
            <h3>
                <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </h3>
            <p>@post.Content</p>
           
            <form asp-controller="Post" asp-action="DeleteById" asp-route-id="@post.Id" method="post" onsubmit="return confirm('Bu gönderiyi silmek istediğinizden emin misiniz?');">
                <button type="submit" class="btn btn-danger">Sil</button>
            </form>
            <a asp-action="UpdatePost" asp-controller="Post" asp-route-id="@post.Id" class="btn btn-primary">Güncelle</a>
            <form asp-controller="Comment" asp-action="CreateComment" method="post" class="form">
                <input type="hidden" asp-for="@Model.post.Comments." value="@Model.post.Id" />
                <div class="mb-3">
                    <textarea class="form-control" asp-for="@Model.comment.Content" placeholder="Yanıtla" rows="4"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Yanıtla</button>
                </div>
            </form>
			
               
        </div>
        
    }

    
</div>



